
body {
    font-family: 'Poppins', sans-serif;
    width: 415px;
    height: 270px;
    padding-left: 12px;
    margin: 0;
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribute space between title and preferences */
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 16px; /* Increase right padding */
    position: relative; /* Ensure absolute positioning works correctly */
    font-size: medium;
}
.header img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    position: relative;
    bottom: -3px;
}
.header h1 {
    font-size: 20px;
    margin: 0;
}
.preferences {
    position: relative;
    float: right;
    font-size: 16px;
    color: #1a73e8;
    text-decoration: none;
}
.preferences:hover {
    text-decoration: underline;
    color: #0b66d3;
}
.content-heading {
    font-size: 16px;
    padding-bottom: px7;
}
.content {
    padding: 16px;
    overflow-y: auto; /* Enable vertical scrolling */
    flex-grow: 1;
}
.status-container {
    position: absolute;
    right: 33px;
    top: 30%;
    transform: translateY(-50%);
    z-index: 1; /* Ensure it's above other elements */
}
.status {
    padding: 3px 5px;
    border-radius: 10px;
    font-size: 43px;
    display: inline-block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.status.negative {
    background-color: #f8d7da;
    color: #721c24;
}

.status.neutral {
    background-color: #fff3cd;
    color: #6c5d04; /* Darker text for better contrast */
}

.status.positive {
    background-color: #d4edda;
    color: #0b4a23; /* Darker green for readability */
}
.number-concerns {
    position: relative;
    left: 55px;
    font-size: 40px;
    font-weight: bold;
}
.concerns:hover {
    filter: brightness(1.1); /* Lightens the color on hover */
}
.concern-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.concern {
    padding: 10px;
    border-radius: 4px;
    color: white;
    font-size: 18px;
    transition: all 0.3s ease; /* Smooth transitions for hover effects */
}
.big-concern {
    background-color: #FC6A7B;
}
.minor-concern {
    background-color: #FFC170;
}